body {
    background-color: #b7e2f3;
    margin: 0;
}

#title {
    font-size: 50px;
    width: 100%;
    margin: 2%;
    text-align: center;
    font-family: "Montserrat", sans-serif;
    color: #000000;
    /* -webkit-text-stroke:  1px rgb(255, 253, 253); */
}

#loginDiv, #signupDiv, #searchDiv, #addDiv {
    font-size: 30px;
    width: 70%;
    margin-left: 15%;
    padding: 25px;
    background-color: #edfaff;
    border-radius: 25px;
}

#logoutDiv {
    width: 70%;
    text-align: center;
}

.buttons {
    font-size: 30px;
    border-radius: 25px;
    width: 50%;
    margin-left: 25%;
    font-family: "Montserrat", sans-serif;
    background-color: rgb(170, 194, 235);
}

.buttons:hover {
    background-color: #00d5124f;
    color: #ffffff;
    opacity: 50%;
}

input[type="text"],input[type="password"] {
    font-size: 30px;
    border-radius: 25px;
    text-align: center;
    width: 80%;
    margin-left: 10%;
    margin-bottom: 2%;
    font-family: "Montserrat", sans-serif;
}

.inner-title {
    display: inline-block;
    font-size: 0.8em;
    width: 90%;
    text-align: center;
    margin-left: 5%;
    margin-bottom: 2%;
    font-family: "Montserrat", sans-serif;
    color: #000000;
}

#loginResult, #signupResult {
    display: inline-block;
    font-size: 0.8em;
    width: 90%;
    text-align: center;
    margin-left: 5%;
    margin-bottom: 2%;
    font-family: "Montserrat", sans-serif;
    color: #000000;
}

#logoutButton {
    width: 20%;
    margin-left: 40%;
}

#loginResult,#signupResult, #contactResult {
    display: inline-block;
    font-size: 0.8em;
    width: 90%;
    text-align: center;
    margin-left: 5%;
    margin-bottom: 2%;
    font-family: "Montserrat", sans-serif;
    color: #000000;
}

#searchResult {
    width: 70%;
    margin-left: 15%;
    margin-top: 20px;
}

.contactRow {
    background-color: #b2b2b2;
    border-radius: 25px;
    padding: 15px 20px;
    margin-bottom: 15px;

    display: flex;
    align-items: center;
    gap: 15px;

    font-family: "Montserrat", sans-serif;
    font-size: 24px;
}

.contactInfo {
    flex: 1;
    text-align: left;
    color: #000000;
}

.smallButton {
    font-size: 22px;
    border-radius: 20px;
    padding: 8px 16px;
    border: none;
    font-family: "Montserrat", sans-serif;
    cursor: pointer;
}

.smallButton:hover {
    background-color: #00d5124f;
    color: #FFFFFF;
}

.smallButton.danger {
    background-color: #95060a33;
}

#editOverlay {
	position: fixed;
	top: 0;
	left: 0;
	width: 100%;
	height: 100%;
	background: rgba(0,0,0,0.55);
	z-index: 1000;
}

#editWindow {
	position: fixed;
	top: 50%;
	left: 50%;
	transform: translate(-50%, -50%);

	width: 70%;
	max-width: 700px;
	padding: 25px;

	background-color: #b2b2b2;
	border-radius: 25px;

	z-index: 1001;
	font-size: 30px;
	font-family: "Montserrat", sans-serif;
}

#editWindow .buttons {
	margin-top: 12px;
}

/* .image-area {
    position: relative; 
    width: 100%;
    height: 600px;
} */

.starfish {
    width: 10vw;
    height: 10vw;
    position: absolute;
    top: 7vh; 
    left: 9vw;
    transform: rotate(-20deg);
}

.coral {
    position: absolute;
    bottom: -18vh + 5;
    left: 8vw;
    width: 13vw;
    height: 25vh;
    z-index: 2;
}

.fish {
    position: absolute;
    right: 2vw;
    width: 13vw;
    bottom: 9vh;
    transform: rotate(10deg);
}

.seahorse {
    position: absolute;
    top: 7vh;
    right: 7vw;
    width: 13vw;
    height: 25vh;
    transform: rotate(-5deg);
}

.sand {
    width: 110%;   /* Stretches to the full width of its container */
    height: 30%;  /* Stretches to the full height of its container */
    object-fit: fill;
    margin: 0;
    z-index: 1;
}
